<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Messages</title>
	</head>
	<body>
		<div class="mainContainer">
			<% if (user) { %>
			<h3>Hello, <%= user.username %></h3>
			<% if (user.membershipStatus === true) { %>
			<button onclick="getMessageForm()">Create Message</button>
			<% } %> <% if (messages && messages.length > 0) { %>
			<ul>
				<% messages.forEach((message) => { %>
				<li>Title: <%- message.title %></li>
				<li>Message: <%- message.content %></li>
				<li>Posted: <%- message.timePosted %></li>
				<li>By: <%- message.author.username %></li>
				<% if (user.adminStatus === true) { %>

				<a href="/message/<%= message._id %>/delete"> Delete message </a>

				<% } %> <% }); %>
			</ul>
			<% } else { %>
			<p>No messages found.</p>
			<% } %> <% } %>
			<div class="buttonContainer">
				<% if (!user) { %>
				<button onclick="gotoLogin()">Login</button>
				<% } %>
				<button onclick="gotoIndex()">Index</button>
			</div>
		</div>
		<%- include('footer.ejs') %>
		<script>
			function getMessageForm() {
				window.location.href = "/messageform";
			}
			function gotoIndex() {
				window.location.href = "/index";
			}
			function gotoLogin() {
				window.location.href = "/login";
			}
		</script>
	</body>
</html>
